/*#region Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*#endregion /Reset */

/*#region Body */
body {
  /* Location of the image */
  /*background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.75),
      rgba(255, 255, 255, 0.95)
    ),
    url(../img/wallpaper-3.jpg);*/
  background-color: #fff;

  /* Background image is centered vertically and horizontally at all times */
  background-position: center center;

  /* Background image doesn't tile */
  background-repeat: no-repeat;

  /* Background image is fixed in the viewport so that it doesn't move when the content's height is greater than the image's height */
  background-attachment: fixed;

  /* This is what makes the background image rescale based on the container's size */
  background-size: cover;
}

body,
html {
  font-family: "Segoe UI", sans-serif !important;
}
/*#endregion /Body */

/*#region Global colors */
:root {
  --first: #23222f;
  --second: #2a2939;
  --third: #adb2bf;
}
/*#endregion /Global colors */

/*#region Global classes */
.pt-8 {
  padding-top: 2rem !important;
}

.pt-20 {
  padding-top: 14rem !important;
}
/*#endregion /Global classes */

/*#region Color classes */
.bg-first {
  background-color: #23222f !important;
}

.bg-second {
  background-color: #2a2939 !important;
}

.bg-third {
  background-color: #adb2bf !important;
}
/*#endregion /Color classes */

/*#region Navigation */
.navbar-text {
  color: #fff !important;
  font-size: 1.2rem !important;
  -webkit-user-select: none !important; /* Safari */
  -moz-user-select: none !important; /* Firefox */
  -ms-user-select: none !important; /* IE10+/Edge */
  user-select: none !important; /* Standard */
}

.sidebar-heading {
  color: rgba(0, 0, 0, 0.5) !important;
  -webkit-user-select: none !important; /* Safari */
  -moz-user-select: none !important; /* Firefox */
  -ms-user-select: none !important; /* IE10+/Edge */
  user-select: none !important; /* Standard */
}
/*#endregion /Navigation */

/*#region Buttons */
.nav-btn {
  background-color: transparent !important;
  color: #fff !important;
}

.btn-success {
  background-color: #f1f1f1 !important;
  border-color: #adb2bf !important;
  color: #000 !important;
}

.btn-success:hover {
  border-color: #d9dadb !important;
}

.btn-danger {
  background-color: #23222f !important;
  border-color: #adb2bf !important;
  color: #fff !important;
}

.btn-danger:hover {
  border-color: #d9dadb !important;
}

.toggle-handle {
  border-color: none !important;
}
/*#endregion /Buttons */

/*#region Home page */
.hero-title {
  font-size: 4rem;
  text-transform: uppercase;
  -webkit-user-select: none !important; /* Safari */
  -moz-user-select: none !important; /* Firefox */
  -ms-user-select: none !important; /* IE10+/Edge */
  user-select: none !important; /* Standard */
}

.second-title {
  font-size: 3rem;
  text-transform: uppercase;
}

.hero-lead {
  font-size: 1.6rem;
}

.hero-logo {
  width: 160px;
}
/*#endregion /Home page */

/*#region Contact */
ul {
  list-style: none;
}
/*#endregion /Contact */

/*#region Sponsors */
.sponsor-logo {
  width: 45%;
}
/*#endregion /Sponsors */

/*#region Media queries */
/*#endregion /Media queries */
