/*#region Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*#endregion /Reset */

/*#region Body */
body {
  /* Location of the image */
  /*background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.75),
      rgba(255, 255, 255, 0.95)
    ),
    url(../img/wallpaper-3.jpg);*/
  background-color: #fff;

  /* Background image is centered vertically and horizontally at all times */
  background-position: center center;

  /* Background image doesn't tile */
  background-repeat: no-repeat;

  /* Background image is fixed in the viewport so that it doesn't move when the content's height is greater than the image's height */
  background-attachment: fixed;

  /* This is what makes the background image rescale based on the container's size */
  background-size: cover;
}

body,
html {
  font-family: "Segoe UI", sans-serif !important;
}

/*#endregion /Body */

/*#region Global colors */
:root {
  --first: #23222f;
  --second: #2a2939;
  --third: #adb2bf;
}

/*#endregion /Global colors */

/*#region Global classes */
.pt-8 {
  padding-top: 2rem !important;
}

.pt-20 {
  padding-top: 14rem !important;
}

.pt-5 {
  padding-top: 5rem !important;
}

.pb-5 {
  padding-bottom: 5rem !important;
}

.pl-5 {
  padding-left: 5rem !important;
}

.pr-5 {
  padding-right: 5rem !important;
}

.px-5 {
  padding: 5rem !important;
}

.std-text {
  font-size: 1.1rem !important;
}

/*#endregion /Global classes */

/*#region Color classes */
.bg-first {
  background-color: #23222f !important;
}

.bg-second {
  background-color: #2a2939 !important;
}

.bg-third {
  background-color: #adb2bf !important;
}

.bg-cp {
  background-color: #22212d !important;
}

.bg-cp-1 {
  background-color: #2a2d37 !important;
}

.bg-cp-2 {
  background-color: #f5faff !important;
}

.bg-cp-3 {
  background-color: #7fb3e1 !important;
}

.bg-cp-4 {
  background-color: #dda2f6 !important;
}

.bg-cp-5 {
  background-color: #8af1ea !important;
}

.bg-white {
  background-color: #fff !important;
}

.bg-offwhite {
  background-color: #f1f1f1 !important;
}

/*#endregion /Color classes */

/*#region Navigation */
.navbar-text {
  color: #fff !important;
  font-size: 1.2rem !important;
  -webkit-user-select: none !important;
  /* Safari */
  -moz-user-select: none !important;
  /* Firefox */
  -ms-user-select: none !important;
  /* IE10+/Edge */
  user-select: none !important;
  /* Standard */
}

.sidebar-heading {
  color: rgba(0, 0, 0, 0.5) !important;
  -webkit-user-select: none !important;
  /* Safari */
  -moz-user-select: none !important;
  /* Firefox */
  -ms-user-select: none !important;
  /* IE10+/Edge */
  user-select: none !important;
  /* Standard */
}

/*#endregion /Navigation */

/*#region Buttons */
.nav-btn {
  background-color: transparent !important;
  color: #fff !important;
}

.btn-success {
  background-color: #f1f1f1 !important;
  border-color: #adb2bf !important;
  color: #000 !important;
}

.btn-success:hover {
  border-color: #d9dadb !important;
}

.btn-danger {
  background-color: #23222f !important;
  border-color: #adb2bf !important;
  color: #fff !important;
}

.btn-danger:hover {
  border-color: #d9dadb !important;
}

.toggle-handle {
  border-color: none !important;
}

.btn-sponsor {
  background-color: #4a2466 !important;
  color: #f5faff !important;
}

.btn-sponsor:hover {
  color: #fff !important;
  background-color: #3d1e54 !important;
}

/*#endregion /Buttons */

/*#region Home page */
.hero-title {
  font-size: 4rem;
  text-transform: uppercase;
  -webkit-user-select: none !important;
  /* Safari */
  -moz-user-select: none !important;
  /* Firefox */
  -ms-user-select: none !important;
  /* IE10+/Edge */
  user-select: none !important;
  /* Standard */
}

.second-title {
  font-size: 3rem;
  text-transform: uppercase;
}

.hero-lead {
  font-size: 1.6rem;
}

.hero-logo {
  width: 160px;
}

.result-img {
  color: #f5faff !important;
  font-size: 2rem;
  position: relative;
}

.i-img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  height: 30%;
  margin: -15% 0 0 -16%;
}

/*#endregion /Home page */

/*#region Contact */
ul {
  list-style: none;
}

/*#endregion /Contact */

/*#region Sponsors */
.sponsor-logo {
  width: 45%;
}

/*#endregion /Sponsors */

/*#region Errors */
.big-icon {
  font-size: 10rem;
}

.error-text {
  font-size: 1.4rem;
}

/*#endregion /Errors */

/*#region Media queries */
html {
  font-size: 0.9rem;
}

@media (max-width: 1200px) {
  html {
    font-size: 0.9rem;
  }
}

@media (max-width: 991px) {
  html {
    font-size: 0.9rem;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 0.8rem;
  }
}

@media (max-width: 558px) {
  html {
    font-size: 0.7rem;
  }
}

/*#endregion /Media queries */

/*#region Ji's code */
/* .container-white {
  background-color: white;
  border-radius: 25px;
  height: 90%;
  padding: 2rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
} */

/* .purple-fade {
  background-image: linear-gradient(to bottom right, #f0e3ff, #3e206d);
} */
/*#endregion /Ji's code */
